In [141]:
import warnings
warnings.filterwarnings('ignore')

In [142]:
import numpy as np
import pandas as pd

In [143]:
bike = pd.read_csv("day.csv")

In [144]:
# Check the head of the dataset
bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [145]:
bike.shape

(730, 16)

In [146]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [147]:
bike.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,365.500000,2.498630,0.500000,6.526027,0.028767,2.997260,0.683562,1.394521,20.319259,23.726322,62.765175,12.763620,849.249315,3658.757534,4508.006849
std,210.877136,1.110184,0.500343,3.450215,0.167266,2.006161,0.465405,0.544807,7.506729,8.150308,14.237589,5.195841,686.479875,1559.758728,1936.011647
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,2.000000,20.000000,22.000000
25%,183.250000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.811885,16.889713,52.000000,9.041650,316.250000,2502.250000,3169.750000
50%,365.500000,3.000000,0.500000,7.000000,0.000000,3.000000,1.000000,1.000000,20.465826,24.368225,62.625000,12.125325,717.000000,3664.500000,4548.500000
75%,547.750000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.880615,30.445775,72.989575,15.625589,1096.500000,4783.250000,5966.000000
max,730.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,3410.000000,6946.000000,8714.000000

In [148]:
import matplotlib.pyplot as plt
import seaborn as sns

In [149]:
#sns.pairplot(bike)

In [150]:
#plt.show()

In [151]:
bike['weathersit']

0      2
1      2
2      1
3      1
4      1
      ..
725    2
726    2
727    2
728    1
729    2
Name: weathersit, Length: 730, dtype: int64

In [152]:
# Defining the map function
def weather_map(x):
    dictionary = {1:'Clear', 2:'Mist', 3:'LightSnow', 4:'HeavyRain'}
    return dictionary[x]

# Applying the function to the housing list
bike['weathersit'] = bike['weathersit'].apply(weather_map)

In [153]:
bike['weathersit']

0       Mist
1       Mist
2      Clear
3      Clear
4      Clear
       ...
725     Mist
726     Mist
727     Mist
728    Clear
729     Mist
Name: weathersit, Length: 730, dtype: object

In [154]:
# Defining the map function
def season_map(x):
    dictionary = {1:'spring', 2:'summer', 3:'fall', 4:'winter'}
    return dictionary[x]

# Applying the function to the housing list
bike['season'] = bike['season'].apply(season_map)

In [155]:
bike['season']

0      spring
1      spring
2      spring
3      spring
4      spring
        ...
725    spring
726    spring
727    spring
728    spring
729    spring
Name: season, Length: 730, dtype: object

In [156]:
bike.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [157]:
bike['windspeed']

0      10.749882
1      16.652113
2      16.636703
3      10.739832
4      12.522300
         ...
725    23.458911
726    10.416557
727     8.333661
728    23.500518
729    10.374682
Name: windspeed, Length: 730, dtype: float64

In [158]:
bike.drop(['casual'], axis = 1, inplace = True)

In [159]:
bike.drop(['registered'], axis = 1, inplace = True)

In [160]:
bike.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'cnt'],
      dtype='object')

In [161]:
day_dictionary = {}
for i in range(7):
    day_dictionary[i] = calendar.day_name[i-1]

In [162]:
def day_map(x):
    global day_dictionary
    return day_dictionary[x]

In [163]:
day_dictionary

{0: 'Sunday',
 1: 'Monday',
 2: 'Tuesday',
 3: 'Wednesday',
 4: 'Thursday',
 5: 'Friday',
 6: 'Saturday'}

In [164]:
# Applying the function to the housing list
bike['weekday'] = bike['weekday'].apply(day_map)

In [165]:
bike['weekday']

0       Saturday
1         Sunday
2         Monday
3        Tuesday
4      Wednesday
         ...
725     Thursday
726       Friday
727     Saturday
728       Sunday
729       Monday
Name: weekday, Length: 730, dtype: object

In [166]:
import calendar

In [167]:
month_dictionary = {}
for i in range(1, 13):
    month_dictionary[i] = calendar.month_name[i]

In [168]:
month_dictionary

{1: 'January',
 2: 'February',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

In [169]:
def month_map(x):
    global month_dictionary
    return month_dictionary[x]

In [170]:
bike['mnth']

0       1
1       1
2       1
3       1
4       1
       ..
725    12
726    12
727    12
728    12
729    12
Name: mnth, Length: 730, dtype: int64

In [171]:
bike['mnth'] = bike['mnth'].apply(month_map)

In [172]:
bike.mnth

0       January
1       January
2       January
3       January
4       January
         ...
725    December
726    December
727    December
728    December
729    December
Name: mnth, Length: 730, dtype: object